#Define class for colors etc
    class color:
    PIRPLE ='\033[95m'
    CYAN ='\033[96m'
    DARKCYAN ='\033[36m'
    BLUE ='\033[94m'
    GREEN ='\033[92m'
    YELLOW ='\033[93m'
    RED ='\033[91m'
    BOLD ='\033[1m'
    UNDERLINE ='\033[4m'
    END ='\033[0m'
#

In [20]:
import pandas as pd
import numpy as np

#Define header since headers are not defined in the dataset
headers = ["age","workclass","fnlweight", "education", "education-num", "marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country","income"]

# load data from GitHUB repo and convert values with ? to NAN
# actual url = "https://github.com/vbloise3/WhizLabsML/blob/master/CensusIncome/CensusIncomeDataset.csv" 
#When accessing Github in Python use raw.githubusercontent.com and omit blob
url = "https://raw.githubusercontent.com/vbloise3/WhizLabsML/master/CensusIncome/CensusIncomeDataset.csv"

df = pd.read_csv(url, on_bad_lines='skip', header=None, names=headers, na_values="null")
# head of the df
df.head(10)

,age,workclass,fnlweight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K